numpy==1.15.1
numpydoc==0.8.0
matplotlib==3.0.1
Keras==2.2.2
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
pandas==0.23.4
pandas-summary==0.0.5
sklearn-pandas==1.8.0
scikit-learn==0.20.1
xgboost==0.81
networkx==2.2
joblib==0.13.0
Theano==1.0.3
lightgbm==2.2.2
